@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
  font-weight: 500;

}


:root {
  --font-size: 0.8em;
  --bg1: #ffffff;
  --blue: #3498db;
  --green: #2ecc71;
  --purple: #9b59b6;
  --gold: #f1c40f;
  --red: #e74c3c;
  --orange: #e67e22;
  --shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
  --shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;
}


.card {
  position: relative;
  width: 350px;
  height: 250px;
  margin: 10px;
  perspective: 1000px; /* Add perspective to create the 3D effect */
  letter-spacing: 1px;
 

}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.content.flip {
  transform: rotateY(180deg); /* Flip the card */
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back when rotated */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}

.front {
  /* background-color: #eeeeee; */
  background-color: #ffffff;
  border: 2px solid rgb(239, 239, 239);
  color: #03446a;
}

.back {
  /* background-color: #21605D; */
  background-color: #f7f7f7;
  color: black;
  transform: rotateY(180deg); /* Initially rotate the back */

}

@media (max-width: 1040px) and (min-width: 600px) {
 .front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back when rotated */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}
}


/* if dont work remove this */
.perspective {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

/* if dont work remove this */



/* InfoCard Section Styling Start*/

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    overflow: visible;
    position: relative;

}

#connected-circles {
    width: 80%; 
    height: 100%;
    overflow: visible;
}

/* Responsive design for smaller screens */

/* General circle styling */
.circle {
    fill: transparent;
    stroke-width: 5;
}

/* Background images for each circle */
.circle1 {
    background-image: url('https://picsum.photos/200');
    background-size: cover;
}

.circle2 {
    background-image: url('https://picsum.photos/200');
    background-size: cover;
}

.circle3 {
    background-image: url('https://picsum.photos/200');
    background-size: cover;
}

.circle4 {
    background-image: url('SVG-1.png');
    background-size: cover;
}

.circle5 {
    background-image: url('SVG-1.png');
    background-size: cover;
}

/* Ensure the circles maintain their circular shape */
.circle {
    mask-image: radial-gradient(circle, white 60%, transparent 60%);
    -webkit-mask-image: radial-gradient(circle, white 60%, transparent 60%);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
}



/* Products Infographics Start */

ul.infoGraphic {
  font-size: var(--font-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul.infoGraphic li {
  position: relative;
  width: 100%;
  max-width: 35em;
  background: var(--bg1);
  border-radius: 0.5em;
  padding-top: 2em;
  display: flex;
  text-align: justify;
  /* justify-content: center; */
  
  z-index: 1;
  transition: all 0.2s;
  cursor: pointer;
}
ul.infoGraphic li .numberWrap {
  position: absolute;
}
ul.infoGraphic li .number {
  font-family: "maven pro", sans-serif;
  font-size: 10em;
  font-weight: 900;
  width: 0.9em;
  text-align: center;
}
ul.infoGraphic li .number.fontColor1 {
  color:var(--blue) ;
}
ul.infoGraphic li .number.fontColor2 {
  color: var(--green);
}
ul.infoGraphic li .number.fontColor3 {
  color: var(--purple);
}
ul.infoGraphic li .number.fontColor4 {
  color: var(--gold);
}
ul.infoGraphic li .number.fontColor5 {
  color: var(--red);
}
ul.infoGraphic li .number.fontColor6 {
  color: var(--orange);
}
ul.infoGraphic li .coverWrap {
  transform: rotate(130deg);
  position: absolute;
  width: 18em;
  height: 15em;
  left: -3em;
  top: -1em;
}
ul.infoGraphic li .coverWrap .numberCover {
  position: absolute;
  background: var(--bg1);
  width: 18em;
  height: 6em;
  border-radius: 50% 50% 0 0;
  border-bottom: 3px solid #f5f8f7;
  transition: all 0.4s;
}
ul.infoGraphic li .coverWrap .numberCover::before {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 4em;
  right: 4em;
  top: 5em;
  box-shadow: 0 0 30px 17px #48668577;
  border-radius: 100px/10px;
  z-index: -1;
}
ul.infoGraphic li .coverWrap .numberCover::after {
  position: absolute;
  bottom: 0;
  content: "";
  left: -10%;
  width: 120%;
  height: 150%;
  background: radial-gradient(at bottom, #48668533, transparent, transparent);
  z-index: 1;
}
ul.infoGraphic li .content {
  margin: 8em 3em 1em 7em;
  position: relative;
}
ul.infoGraphic li .content h2 {
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  /* text-transform: uppercase; */
}
ul.infoGraphic li .content p {
  line-height: 1.5em;
}

ul.infoGraphic li:hover .coverWrap .numberCover {
  border-radius: 100%;
}

.icon {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  top: -1.3em;
  left: 50%;
  transform: translatex(-50%);
}
.icon:before {
  color: #666;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.iconCodepen:before {
  content: "";
}

.iconSocial:before {
  content: "";
}

.iconAirplane:before {
  content: "";
}

.iconMap:before {
  content: "";
}

.iconBulb:before {
  content: "";
}

.iconPeace:before {
  content: "";
}




input[type=range] {
  width: 100%;
  margin: 1em 0;
  /* -webkit-appearance: none; */
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #00000066;
  border: 0;
  border-radius: 1.3px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: #eee;
  box-shadow: inset 0px 1px 1px #ffffff66, 0px 1px 3px black;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eee;
}

input[type=range]::-moz-range-track {
  background: #000;
  border: 0;
  border-radius: 1.3px;
  width: 100%;
  height: 1px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #151728;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 13px 0;
  color: transparent;
  width: 100%;
  height: 1px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #151728;
  border: 0;
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: #151728;
  border: 0;
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  width: 25px;
  height: 25px;
  background: #151728;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}





/* Products Infographics End */